#area{
    width: 1000px;
    height: 600px;
    background: #eee;
    border-bottom: solid 6px #442233;
}
#area .ball{
    width: 50px;
    height: 50px;
    background: #332244;
    border-radius: 50%;
    background: radial-gradient(circle at 10px 12px, #5cabff, #111);
    box-shadow: 0 20px 10px #333;
    border:none;
}
#area:hover .ball{
    animation: ball 6s infinite;
}
@keyframes ball {
    0%{
        left:
    }
}