.row{
    width: 100%;
    display: block;
    box-sizing: border-box;
}
.row:before,.row:after{
    content: " ";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}
[class*='col-']{
    float: left;
    box-sizing: border-box;
}
.col-1{width: 8.33333%}
.col-2{width: 16.66667%}
.col-3{width: 25%}
.col-4{width: 33.333333%}
.col-5{width: 41.66667%}
.col-6{width: 50%}
.col-7{width: 58.33334%}
.col-8{width: 66.66667%}
.col-9{width: 75%}
.col-10{width: 83.3333%}
.col-11{width: 91.66667%}
.col-12{width: 100%}

.offset-1{margin-left: 8.33333%}
.offset-2{margin-left: 16.66667%}
.offset-3{margin-left: 25%}
.offset-4{margin-left: 33.333333%}
.offset-5{margin-left: 41.66667%}
.offset-6{margin-left: 50%}
.offset-7{margin-left: 58.33334%}
.offset-8{margin-left: 66.66667%}
.offset-9{margin-left: 75%}
.offset-10{margin-left: 83.3333%}
.offset-11{margin-left: 91.66667%}

.demoBlock1,.demoBlock2{
    height: 200px;
    margin: 5px;
}
.demoBlock1{
    background: #324;
}
.demoBlock2{
    background: #423;
}